doctype html
html
  head
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    div(style='display:inline-block')
      img.w-10-all(src='../../images/logo.png')
      a(href='/') Home
      |
      |
      a(href='/apply') Apply
      |
      |
      a(href='/scan') Search Database
      |
      |
      a(href='/scan-edit-redirect') Edit Database
    br
    br