doctype html
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../stylesheets/style.css')
    // <link rel="stylesheet" href="../stylesheets/jstyle.css" />
  body
    include partials/header.pug
    // <img src="../images/logo.png" class="center w-10 stackable-s" />
    img(src='../images/logo.png')