doctype html
html
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset='UTF-8')
        link(rel='stylesheet', href='../stylesheets/jstyle.css')
    body
        include partials/header.pug
        h3
            | YOU HAVE SUCCESSFULLY ENTERED APPLICANT DATA INTO DATABASE
        h4
            | Please use navigation panel above
